<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
</head>
<style>
html, body {
    height: 100%;
}
</style>
<body>
  <div class="container h-100 d-flex justify-content-center">
    <div class="jumbotron my-auto">
      <a href="/admin/logout"><btn class="btn btn-primary btn-lg">Logout</btn></a>
      <a href="/admin/showcase"><button type="button" class="btn btn-primary btn-lg">Showcase</button></a>
      <a href="/admin/artworks"><button type="button" class="btn btn-primary btn-lg">Artworks</button></a>
      <a href="/admin/store"><button type="button" class="btn btn-primary btn-lg">Store</button></a>
      <a href="/admin/tutorials"<button type="button" class="btn btn-primary btn-lg">Tutorials</button></a>
    </div>
 </div>
</body>
</html>